.header-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  font-size: 18px;
  margin: 0;
  width: 100vw;
  
}
.header-content-inner{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  width: 100vw;
  
}
.landing-page {
  background-color: #232e3d;
  height: 100vh;
 
}
.section {
  scroll-snap-align: start;
  
}
.landingmain {
  background-color: #232e3d;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end ;
  align-items: center;
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding: 0;
}


.landing-page h1 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: #e2e2e2;
  padding-bottom: 0vh;
}
.landing-page h2 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: #e2e2e2;
  padding: 0 0 0 0;
  margin: 0;
}
.header-title {
  display: flex;
  width: 90vw;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.landing-page h3 {
  font-size: 1.5rem;
  font-weight:300;
  margin: 0;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: var(--test-main);
}

.header-title,
.header-subtitle {
  color:var(--test-main);

}
.header-subtitle {
  display: flex;
align-items: center;
  flex-direction: row;
  justify-content: center;
  
}

.wrap {
  margin: 0;
  padding: 0;
  width:auto;
  font-size: 1.5rem;
  font-weight:300;
  margin: 0;
  letter-spacing: 0.05em;
  line-height: 1.2;
  color: var(--test-main);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin-left: 5px;

}



.animate-pop-in {
  animation: pop-in .9s cubic-bezier(0, 0.9, 0.3, 1.2) forwards;
  opacity: 0;
}

.rocky-dashed {
  animation-delay: .6s;
}

.header-title {
  animation-delay: .8s;
}
.btn {
  animation-delay: 2s;
}

.header-subtitle {
  animation-delay: 1s;
}

.header-button {
  animation-delay: 1.1s;
}
.mouse-icon {
  animation-delay: 1.4s;
}
.wheel {
  animation-delay: 1.4s;
}


/* ---------------------------------------------- /*
 * Mouse animate icon
/* ---------------------------------------------- */
.mouse-icon {
  border: 2px solid var(--test-main);
  border-radius: 16px;
  height: 2.5rem;
  width: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.mouse-icon.pop-in {
  opacity: 1; /* Set opacity to 1 when the animation starts */
  /* ... */
}



.mouse-icon .wheel {
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-name: drop;
          animation-name: drop;
  -webkit-animation-duration: 1.5s;
          animation-duration: s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}
.mouse-icon .wheel {
  position: relative;
  border-radius: 10px;
  background: #ffffff;
  width: 4px;
  height: 4px;
  margin: 0 auto;
  top: 0px;

}
 @-webkit-keyframes drop {
  0% {
    top: 10px;
    opacity: 0;
  }
  30% {
    top: 40px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    top:10px;
    opacity: 0;
  }
  30% {
    top: 20px;
    opacity: 1;
  }
  100% {
    top: 25px;
    opacity: 0;
  }
} 

.mouse-icon.hidden {
  opacity: 0;
  pointer-events: none;
}
/* Animations */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 800px) {
  .landingmain {
    flex-direction: column;
  }
  
  .header-button {
    width: 80%;
  }
  .landing-page h1{
    font-size: 2rem;
    width: 100vw;
  }
}
@media screen and (max-height: 600px) {
   
  .header-content {
    height: 100vh;
    justify-content: space-between;


 
  }
  .landing-page {
    height: 100vh;
   
  }


  .wheel {
    height: 40vh;
    width: 24px;
  }
}

/* .reveal{
 
  transform: translateY(150px);
  opacity: 0;
  transition: 2s all ease;
}
.reveal.active{
  transform: translateY(0);
  opacity: 1;
} */
