*{
  font-family: 'roboto', sans-serif;
}

.App {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;

}

.section {
  scroll-snap-align: start;
  height: 100vh;
}

.portfolio {
  height: 100vh;
  background-color: #232e3d;
}

.App::-webkit-scrollbar {
  display: none;
}

