
/* Hide vertical scrollbar for webkit-based browsers (Chrome, Safari) */
.App::-webkit-scrollbar {
  width: 0;
}

/* Hide vertical scrollbar for other browsers (Firefox, Edge, etc.) */
/* Hide vertical scrollbar for other browsers (Firefox, Edge, etc.) */
.App {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Edge */
  overflow: -moz-scrollbars-none; /* For other browsers with scrollbar support */
  overflow-y: scroll; /* To enable scrolling */
  scroll-snap-type: y mandatory;
}
html {
  font-family: "Source Sans 3", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h2 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 2rem;
}

h1 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 3rem;
}

p,
li {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.2rem;
  justify-content: justify;
}

button {
  max-width: 30rem;
}

/* Media query for mobile devices */
@media only screen and (max-width: 420px) {
  html {
    font-size: 50%;
  }

  h2 {
    font-size: 3rem;
  }

  h1 {
    font-size: 6rem;
  }



  button {
    width: 30vw;
    padding: 1rem 1rem;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;700;800&display=swap");

button {
align-items: center;
background-color: var(--test-main);
border: 2px solid var(--test-main);
box-sizing: border-box;
color: #ffffff;
font-weight: 500;
border-radius: 5px;
cursor: pointer;
display: inline-flex;
font-weight:00;
height: 48px;
justify-content: center;
line-height: 24px;
min-width: 140px;
margin: auto;
margin-top: 2rem;
margin-bottom: 2rem;
outline: 0;
text-align: center;
text-decoration: none;
transition: all .3s;
touch-action: manipulation;
}

button:hover {
  background-color: var(--test-main);
  scale: 1.1;
  color: #ffffff;
  font-weight: 700;
}