





.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
  scale: 3;
}

.swiper-pagination-bullet
 {
  background: #acacac;
  opacity: 0.5;
  margin: 0 0.5rem;
  transform: scaleY(0.3) ScaleX(0.3);
 
 }

.swiper-pagination-bullet-active{
  opacity: 0.6;
  background: #f1f1f1;
  transform: scaleY(0.45) ScaleX(0.45);

}
.swiper-container-pagination {
  z-index: 10;
  color: #dadada;
  width: 20%; /* You can adjust this width as per your design */
}



.swiper-slide-prev,
.swiper-slide-next {
 
  opacity: 0.1; 
}

.swiper-slide-active {

  z-index: 1;
  transform: scale(1);

}


.swiper-slide-active div {
  display: block;
  opacity: 1;
  
}

.swiper-slide--1 {
  width: 70vw; /* Set width to take the full width of the viewport */
  height: 60vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://live.staticflickr.com/65535/53470588587_b22ab69209_b.jpg")
    no-repeat 50% 50% / cover;
}
.swiper-slide--2 {
  width: 70vw; /* Set width to take the full width of the viewport */
  height: 60vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/soc_byteclub_paprback/blob/main/paprback.png?raw=true")
    no-repeat 50% 50% / cover;
}


.swiper-slide--3 {
  width: 70vw; /* Set width to take the full width of the viewport */
  height: 60vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/portfolioSite/blob/main/Images/RPS.png?raw=true")
    no-repeat 50% 50% / cover;
}

.swiper-slide--4 {
  width: 70vw; /* Set width to take the full width of the viewport */
  height: 60vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/ReactWeatherApp/blob/main/Screenshot%202023-07-17%20135541.png?raw=true")
    no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
  transform: translate3d(-300px);
}

