



/* ///////////////////////////////////////////////////////// Swiper  CSS  */

.carouselImage {
  width: 3vh;
  height: 3vh;
  border-radius: 0.625rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.6;
  z-index: 11;
  margin-left: 1rem; /* Add some left margin to create space between the h2 and the image */
}


.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-bullet
 {
  background: #acacac;
  opacity: 0.2;
  margin: 0 0.5rem;
  transform: scaleY(0.3) ScaleX(0.3);
 
 }

.swiper-pagination-bullet-active{
  opacity: 0.6;
  background: #f1f1f1;
  transform: scaleY(0.45) ScaleX(0.45);

}
.swiper-container-pagination {
  z-index: 10;
  color: #dadada;
  width: 20%; /* You can adjust this width as per your design */
}



.swiper-slide-prev,
.swiper-slide-next {
 
  opacity: 0.1; 
}

.swiper-slide-active {

  z-index: 1;
  transform: scale(1);

}


.swiper-slide-active div {
  display: block;
  opacity: 1;
  
}

.swiper-slide--1 {
  width: 60vw; /* Set width to take the full width of the viewport */
  height: 50vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/portfolioSite/blob/main/doggyStuff.png?raw=true")
    no-repeat 50% 50% / cover;
}
.swiper-slide--2 {
  width: 60vw; /* Set width to take the full width of the viewport */
  height: 50vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/soc_byteclub_paprback/blob/main/paprback.png?raw=true")
    no-repeat 50% 50% / cover;
}


.swiper-slide--3 {
  width: 60vw; /* Set width to take the full width of the viewport */
  height: 50vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/portfolioSite/blob/main/Images/RPS.png?raw=true")
    no-repeat 50% 50% / cover;
}

.swiper-slide--4 {
  width: 60vw; /* Set width to take the full width of the viewport */
  height:50vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/ReactWeatherApp/blob/main/Screenshot%202023-07-17%20135541.png?raw=true")
    no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
  transform: translate3d(-300px);
}
.swiperP {
  color: #ffffff;
}
/* .swiper {
  width: 70%;
  height: auto;
  margin:0 3vw;
  display: flex;
  min-width: 30vw;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 0;
  flex-direction: column;
}
 */

/* //////////////////////////////////////////////////////// Media Queries */

@media screen and (max-width: 1000px) {
  .swiper {
    width: 100%;
    height: 80vh;
  }
  .main {
    width: 90vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .slideInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:auto;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    margin-top: 0;
  
  
  }
  
  .slideHeader {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width:100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .slideTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    color: #c2c2c2;
    
  }
  span.slideHeader {
    margin-bottom: 1vh;
  }
  .main > div p {
    line-height: 1.6;
    color: rgb(255, 255, 255);
    padding-bottom: 1vh;
    margin: 0;
    font-size: 0.9rem;
    
    
  }

.swiper-slide--1 {
  width: 60vw; /* Set width to take the full width of the viewport */
  height: 40vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/soc_byteclub_paprback/blob/main/paprback.png?raw=true")
    no-repeat 50% 50% / fill;
}


.swiper-slide--2 {
  width: 60vw; /* Set width to take the full width of the viewport */
  height: 40vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/portfolioSite/blob/main/Images/RPS.png?raw=true")
    no-repeat 50% 50% / fill;
}

.swiper-slide--3 {
  width: 60vw; /* Set width to take the full width of the viewport */
  height:40vh; /* Set height to take the full height of the viewport */
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/ReactWeatherApp/blob/main/Screenshot%202023-07-17%20135541.png?raw=true")
    no-repeat 50% 50% / fill;
}
.ProjectTitle h1 {
  color: var(--test-main);
 margin-bottom: 2vh;
}


}
