.languages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px 10px; /* Added padding to match previous styles */
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.languages {
  display: flex;
  flex-direction: row;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#icon {
  width: 40px;
  height: 40px;
  margin: 10px;
  filter: grayscale(100%);
}

#icon:hover {
  filter: grayscale(0%);
}

@media (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }

  .about,
  .skills-container {
    width: 100%;
    overflow-y: auto;
    height: auto;
    padding: 10px;
  }

  /* Adjustments for mobile view */
  .languages-container {
    padding: 0; /* Remove padding to match previous styles */
  }
}
.button {
  transition: opacity 0.2s ease, background 0.2s ease;
  display: block;
  margin: 10px 0 0 0;
  padding: 10px;
  width: 10vh;
  cursor: pointer;
  transform: translateZ(.1px);
  position: relative;
  z-index: 10;
  background-color: #e7d533;
  border-radius: 1px;
  color: #232e
}