
.about-page {
  background-color: rgb(248, 248, 248);
  height: 100vh;
  background-image: url('https://img.freepik.com/premium-vector/abstract-modern-white-grey-gradient-geometric-pattern-background_120819-595.jpg?w=2000');
  background-size: cover;
  
}

.about-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 90vw;
  
}

.about-img img {
  height: 50vh;
  border-radius: 10px;
 
}
.about-img2 img{
  height: 50vh;
  border-radius: 10px;
  display: none;
 
}
.about-secInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50vw;
  margin-left: 5rem;
   text-align: justify;
  font-size: 1rem;
}
.about-sec h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1rem;
  color: var(--main-color);
}
.about-sec {
  display: flex;
  justify-content: flex-start;
}
#span.about-secInfo{
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.button {
  align-items: center;
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  min-width: 140px;
  margin: auto;
  outline: 0;
  text-align: justify;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.buttonAbout {
  display:flex;
  justify-content: center;
  align-items: flex-end;
}
@media screen and (max-width: 700px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
  }
  
  .about-sec p {
    width:70vw;
    font-size: small;
    padding: auto;
    margin: 0.5rem;
    text-align: justify;
  }
  
  .about-secInfo {
    width: 70vw; /* Change width to 100% to occupy full width */
    margin: auto;
    margin-top: 1rem; /* Add a margin on top to create space between image and text */
    text-align: center;
    justify-content: center;
     /* Center-align the text */
  }
  
  .about-img img {
display: none;
  }

  .about-img2 img{
    display: flex;
    height: 15rem;
    border-radius: 10px;
    margin: auto;
    padding: auto;

   
  }
  #span.about-secInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
 flex-direction: row;
  }
 .profile-pic {
    margin: 0;
  }
}

@media screen and (max-width: 550px) {
  .about-img img {
    max-height: 20vh; /* Update the maximum height for smaller screens */
  }
  .about-img2 img{
    display: flex;
    border-radius: 10px;
    margin: auto;
    padding: auto;

   
  }
  #span.about-secInfo{
    display:flex;
    justify-content: flex-start;
    align-items: center;
 flex-direction: row;
  }
}













