.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color:#232e3d;
  
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5rem;
  padding: 0;
  margin-left: auto;
}

.navbar ul li {
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.navbar ul li a:hover {
  color: #e7d533;
 
}

.navbar ul li a.active {
  color: #e7d533 !important;
  text-decoration: underline;
}
.menu-toggle {
  display: none;
  margin-right: auto; /* Add this line */
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar ul.open {
    display: flex;
  }

  .navbar ul li {
    margin: 10px 0;
  }

  .navbar ul li a {
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.4s ease-in-out; /* Add this line for smoother transition */
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.4s ease-in-out; /* Add this line for smoother transition */
  }

  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #e7d533;
    margin: 3px;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    z-index: 7;
  }

  .menu.open {
    position: absolute;
    background-color: #232e3d;
    left: 0;
    top: 10px;
    margin: auto;
    opacity: 1;
    transition: opacity 0.3s ease-in;
  }

  .navbar.open .menu-toggle .bar:first-child {
    transform: translateX(-6px) rotate(45deg) translate(10px, 2px);
    top: 2px;
  }

  .navbar.open .menu-toggle .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar.open .menu-toggle .bar:last-child {
    transform: translateX(-5px) rotate(-45deg) translate(10px, -4px);
  }

}


.GH img:nth-child(1){
  display: block;
  scale: 1;
}
.GH img:nth-child(2){
  display: none;
  scale: 1;
}
.GH :hover img:nth-child(1){
  display: none;
  scale: 1;
}
.GH :hover img:nth-child(2){
  display: block;
  scale: 1;
}


.LI img:nth-child(1){
  display: block;
  scale: 1;
}
.LI img:nth-child(2){
  display: none;
  scale: 1;
}
.LI :hover img:nth-child(1){
  display: none;
  scale: 1;
}
.LI :hover img:nth-child(2){
  display: block;
  scale: 1;
}
