.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: 400;
  position: fixed;
  left: 0;
  width: 100vw;
  z-index: 100;
  background-color:var(--secondary-color);
  
}

.logo-toggle-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 100%;
}
.logo-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  width:5vw;
}
.logo {
 
  align-items: center;
  margin: 2vw;
  width: 100%;
  color: var(--test-main);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  transition: all 0.3s ease-in-out;
  flex-direction: row;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 5rem;
  padding: 0;
  margin-left: auto;
}

.navbar ul li {
  margin: 0 10px;
  justify-content: center;
  align-items: center;
}

.navbar ul li a {

text-decoration: none;
      font-size: 1.5rem;
   color: rgb(221, 221, 221);
     
    &:hover {
          background-position: 0;
      color: #0300e2;
    }
  }

.navbar ul li a:hover {
  color: var(--test-main); 
}

.navbar ul li a:active {
  color: var(--test-main) !important;

}

.menu-toggle {
  display: none;
  margin-left: auto; /* Add this line */
}
.navY {
  color: var(--secondary-color);
}
@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    
  }

  .navbar ul {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar ul.open {
    display: flex;
  }

  .navbar ul li {
    margin: 10px 0;
      transition: all 0.3s ease-in-out;
  font-size: 16px;
  font-weight: 400;
  }

  .navbar ul li a {
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    cursor: pointer;
    padding: 10px 10px;
    transition: all 0.4s ease-in-out; /* Add this line for smoother transition */
    margin-right: 2vw;
  }
  .menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color:var(--test-main);
    margin: 3px;
    transition: all 0.4s ease-in-out;
    border-radius: 10px;
    z-index: 7;
   
  }

  .menu.open {
    position: absolute;
    background-color: var(--secondary-color);
    color: white;
    right: 0;
    top: 40px;
    width: 30%;
    margin: auto;
    padding-bottom: 1vh;
    opacity: 1;
    transition: opacity 0.9s ease-in, top 0.5s ease-in-out; /* Added transition for top property */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%); /* Initially hide the menu by shifting it above */
  }
  
  .navbar.open .menu-toggle .bar:first-child {
    transform: translateX(-6px) rotate(45deg) translate(10px, 2px);
    top: 2px;
    background-color: var(--test-main);
  }
  
  .navbar.open .menu-toggle .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navbar.open .menu-toggle .bar:last-child {
    transform: translateX(-5px) rotate(-45deg) translate(10px, -4px);
    background-color: var(--test-main);
  }
  
  .navbar.open .menu {
    transform: translateY(0); /* Move the menu down when opened */
  }
  .navbar ul li a {
    text-decoration: none;
    color:#fcfcfc all 0.3s ease-in-out;
    font-size: 16px;
    font-weight:400;
  }


}

/* social icons navbar */

.GH img:nth-child(1){
  scale:1;
  width: 1vw;
  filter: invert(98%) sepia(96%) saturate(6%) hue-rotate(85deg) brightness(107%) contrast(98%);
  
}
.GH :hover img:nth-child(1){
  scale: 1;
  width: 1vw;
  filter: invert(82%) sepia(70%) saturate(3986%) hue-rotate(338deg) brightness(92%) contrast(87%);
}



.LI img:nth-child(1){
  scale: 1;
  width: 1vw;
  filter: invert(98%) sepia(96%) saturate(6%) hue-rotate(85deg) brightness(107%) contrast(98%);
}
.LI :hover img:nth-child(1){
  scale: 1;
  width: 1vw;
  filter: invert(82%) sepia(70%) saturate(3986%) hue-rotate(338deg) brightness(92%) contrast(87%);
}

