
  .navbar.open .menu-toggle .bar:first-child {
    transform: translateX(-6px) rotate(45deg) translate(10px, 2px);
    top: 2px;
  }
  
  .navbar.open .menu-toggle .bar:nth-child(2) {
    opacity: 0;
  }
  
  .navbar.open .menu-toggle .bar:last-child {
    transform: translateX(-5px) rotate(-45deg) translate(10px, -4px);
  }
  
  .navbar.open .menu {
    transform: translateY(0); /* Move the menu down when opened */
  }

