@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@300;400;500;900&display=swap");


.main {
  width: 90vw;
  margin: auto;
  min-height: 60vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
} 
.githubLink {
  margin-top: 1vh;
  margin-left: 1vw;
}

.slideInfo {
  /* Remove display: flex */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.slideTitle {
  color: var(--main-color);
  align-self: flex-start;
}


.carouselImage:hover {
  opacity: 1;
  transform: scale(1.1);
}

.main > div p {
  line-height: 1.6;
  color: rgb(255, 255, 255);
  padding-bottom: 2vh;
  
}
.swiperTitle{
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0vh auto;
  padding: 0 0 0 0;
  color: var(--test-main);
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.8px;
  font-family: "Roboto", sans-serif;
  
}


.slideInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  min-height: 30vh;


}

.slideHeader {
  position: relative;
  display: flex;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.slideTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #c2c2c2;
  
}



  .liveSite{
    align-items: center;
    background-color: var(--test-main);
    border: 2px solid var(--test-main);
    box-sizing: border-box;
    color: #131313;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    margin: auto;
    outline: 0;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    touch-action: manipulation;
  }
  .liveSite:focus {
    color: #171e29;
  }
  
  .liveSite:hover {
    background-color: var(--test-main);
    border-color: var(--test-main);
    fill: var(--test-main);
  }
  
  .liveSite:active {
    background-color: var(--test-main);
    border-color: var(--test-main);
    fill: var(--test-main);
  }
  


/* ///////////////////////////////////////////////////////// Swiper  CSS  */

.carouselImage {

  width: 3.5vh;
  height: 3.5vh;

  border-radius: 0.625rem;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0.6;
  z-index: 11;
}
.swiper {
  width: 50%;
  display: flex;
  min-width: 50vw;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  padding: 0 0 0 0;
  flex-direction: column;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-bullet
 {
  background: #acacac;
  opacity: 0.2;
  margin: 0 0.5rem;
  transform: scaleY(0.3) ScaleX(0.3);
 
 }

.swiper-pagination-bullet-active{
  opacity: 0.6;
  background: #f1f1f1;
  transform: scaleY(0.45) ScaleX(0.45);

}
.swiper-container-pagination {
  bottom: 5rem !important;
  z-index: 10;
  color: #dadada;
  width: 20%;
}

.swiper-slide {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;
  transform: scale(0.9); /* Add this line to reduce the size of the slide */
  opacity: 1; /* Add this line to reduce the opacity of the slide */
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.616);
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out; 
  transition-timing-function: ease-in-out; /* Adjust the timing function as desired */
}

.swiper-slide-prev,
.swiper-slide-next {
 
  opacity: 0.1; /* Add this line to reduce the opacity of the previous and next slides */
}

.swiper-slide-active {

  opacity: 1; /* Add this line to revert the opacity of the active slide */
  z-index: 1;
  transform: scale(1); 
}
.swiper-slide-prev {
transform: translateY(0) scale(0.8) ;
right: -15rem;



}
.swiper-slide-prev-prev{
  transform: translateY(0) scale(0.8) ;
right: -15rem;
}

.swiper-slide-next {
  transform: translateY(0) scale(0.8);
  left: -15rem;
}
.swiper-slide-next-next{
  transform: translateY(0) scale(0.8) ;
left: -15rem;
}


.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  padding: 0 0 0 1.563rem;
  text-transform: uppercase;
  justify-content: flex-start;
}

.swiper-slide p {
  color: #dadada;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0 1.563rem;
  line-height: 1.6;
  font-size: 0.75rem;
  justify-content: flex-start;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  
  overflow: hidden;
}


.swiper-slide div {
  display: none;
  opacity: 0;
  padding-bottom: 0.625rem;
}

.swiper-slide-active div {
  display: block;
  opacity: 1;
}
.swiper-slide--1 {
  width: 40rem;
  height: 30rem;
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/soc_byteclub_paprback/blob/main/paprback.png?raw=true")
    no-repeat 50% 50% / cover;
}


.swiper-slide--2 {
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/portfolioSite/blob/main/Images/RPS.png?raw=true")
    no-repeat 50% 50% / cover;
}

.swiper-slide--3 {
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/portfolioSite/blob/main/Images/NFTCard.png?raw=true")
    no-repeat 50% 50% / cover;
}

.swiper-slide--4 {
  background: linear-gradient(to top, #161616, #49494910, #86868623),
    url("https://github.com/n335h/ReactWeatherApp/blob/main/Screenshot%202023-07-17%20135541.png?raw=true")
    no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
  transform: translate3d(-300px);
}
.swiperP {
  color: #ffffff;
}


/* //////////////////////////////////////////////////////// Media Queries */

@media screen and (max-width: 1000px) {
  .main {
    width: 90vw;
    max-height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .swiper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vw;
    padding: 0 0 0 0;
    flex-direction: column;
  }

  .slideInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
    font-size: small;
  
  
  }
  
  .slideHeader {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width:100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .slideTitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #c2c2c2;
    
  }
  .main > div p {
    line-height: 1.6;
    color: rgb(255, 255, 255);
    padding-bottom: 2vh;
    margin: 0;
    
  }

}
@media screen and (max-width: 450px) {
.swiper-slide {
  width: 22rem;
  height: 22rem;
  display: flex;
}
}



@media screen and (min-width: 48rem) {
  .main {
    display: flex;
    align-items: center;
  }
  .bg,
  .bg2 {
    opacity: 0.1;
  }
}

@media screen and (max-width: 93.75rem) {
.swiper-container{
    width: 80%;
  }
}


@media (min-width: 768px) {
  .liveSite{
    min-width: 170px;
  }
}

