.carousel {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  .carousel-button.prev {
    left: 10px;
  }
  
  .carousel-button.next {
    right: 10px;
  }
  
  .carousel-image {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  .preview-grid {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /*.preview-image {
    max-width: 100px;
    height: 10vh;
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  */
  
  .preview-image.active {
    opacity: 1;
  }
  
  .preview-image:hover {
    opacity: 1;
  }
  
  h1 {
    text-align: center;
  }
  
  