/* .portfolio-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 00px;
    min-height: 90vh
  }
  .portfolio {
    height: 100vh;
  }

  .portfolio-gallery {
    max-width: 90vh;
  } */

  .portfolio-container {
    background-color: #232e3d;
  }