footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    background-color: #232e3d;
    color: white;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
  }
  
  .footer-container {
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .footer-text {
    margin-bottom: 10px;
  }
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-container img {
    margin: 0 5px;
    height:25px;
    width: 25px;
    opacity: 0.8;
  }
  .logo-container img:hover{
    margin: 0 5px;
    height:25px;
    width: 25px;
    opacity: 1;
    scale: 1.1;

  }
